.about-me {
    padding-top: 325px;
    width: 520px;
    line-height: 25px;
}

#about-me-anchor {
    scroll-margin-top: 0px;
    background-color: rgb(16 16 16);
}

.tech-stack {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    font-size: 30px;
    margin-top: 70px;
}