html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Arial;
    margin: 0;
    background-color: rgb(10, 10, 10);
    color: white;
    margin-top: 80px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
}