html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Arial;
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: white;
    margin-top: 60px;
}

button {
    cursor: pointer;
}