.header {
    height: 60px;
    display: flex;
    column-gap: 15px;
    font-size: 15px;
    padding-left: 40px;
    align-items: center;
    justify-content: left;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(90, 90, 90);
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    position: relative;
}

.header-buttons {
    width: 75px;
    height: 36px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.header-buttons:hover {
    background-color: white;
    color: rgb(90, 90, 90);
}

.header-buttons:active {
    opacity: 0.8;
}

.header-icons {
    width: 25px;
    height: 25px;
    cursor: pointer;
    top: 18px;
    position: absolute;
    justify-content: right;
}

#github-icon {
    right: 60px;
}

#linkedin-icon {
    right: 105px;
}
